# Lesson 1: Introduction to Python
## **Installation and Setup**
### _On Google Colab, Python is already installed. Let's start with a simple print statement to verify everything is working._

In [ ]:
print("Hello, welcome to your first Python lesson!")

## **Basic Syntax: Variables, Data Types, Arithmetic Operations**

## Variables and Data Types

In [ ]:
x = 10
x

In [ ]:
y = 3.14
y

In [ ]:
name = "Giacomo"
name

In [ ]:
is_student = True
is_student

In [ ]:
type(x)

In [ ]:
type(y) #float number has 15 to 17 digit

In [ ]:
type(name)
name

In [ ]:
print(x, type(x))
print(y, type(y))
print(name, type(name))
print(is_student, type(is_student))

In [ ]:
3+4+a

## **Arithmetic Operations**

In [ ]:
a = 12
b = 5

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Integer Division:", a // b)
print("Exponentiation:", a ** b)
print("Module:", 12 % b)

## Control Structures: Conditionals

In [ ]:
a = 10
b = 5

# Conditionals


if a > b:
    print("a is greater than b")
elif a == b: #else if
    print("a is equal to b")
else:
    print("a is less than b")

In [ ]:
a = -5
b = 5

# Nested Conditionals
if a > 0:
    if a > b:
        print("a is positive and greater than b")
    else:
        print("a is positive but not greater than b")
else:
    print("a is not positive")

## **Loops**

In [ ]:
range(5)

In [ ]:
# For Loop
for i in range(5):
    print("For Loop, Iteration:", i)

In [ ]:
# While Loop
count = 0 # in a while loop you could need a counter, a variable that is possible to increment in every step of the loop
while count < 5:
    print("While Loop, Count:", count)
    count += 1
    #count = count + 1

In [ ]:
# More Complex Loop Example
# Printing prime numbers between 2 and 20
print("Prime numbers between 2 and 20:")
for num in range(2, 21):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

In [ ]:
num = 10
is_prime = True
for i in range(2, num):
  print(i)
  if num % i == 0:
      is_prime = False
      break
if is_prime == True:
    print(num)

## Input

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name + "!")


## Functions in Python

In [ ]:
# Defining a Function
def greet(name):
    return f"Hello, {name}!"

In [ ]:
# Calling a Function
name = "Giacomo"
greet(name)

In [ ]:
# Function with Multiple Parameters
def add(a, b):
  sum = a + b
  return sum

In [ ]:
# Calling the Function
print("Sum of 10 and 5 is:", add(10, 5))

In [ ]:
# Function with Default Parameter
def power(base, exponent=2):
    return base ** exponent

In [ ]:
# Calling the Function with and without the default parameter
print("2 to the power of 3 is:", power(2, 3))
print("3 squared is:", power(3))

In [ ]:
# Function with Variable Number of Arguments
def sum_all(*args):
    return sum(args)

In [ ]:
# Calling the Function with multiple arguments
print("Sum of 1, 2, 3, 4 is:", sum_all(1, 2, 3, 4))

In [ ]:
# More Complex Function Example
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence

In [ ]:
# Calling the Function to generate the first 10 Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci(15))

## Reading and Writing Files with `open`

In [ ]:
# Creating a sample file and writing text to it
with open('example.txt', 'w') as file:
    file.write("Hello, this is a sample file.\n")
    file.write("Python is a fantastic programming language!")
print("File 'example.txt' created and written successfully!")

In [ ]:
# Reading the content of the file we just created
with open('example.txt', 'r') as file:
    content = file.read()
    print("File content:")
    print(content)

In [ ]:
# Appending more lines to the file
with open('example.txt', 'a') as file:
    file.write("\nLet's add a new line to the file.")

In [ ]:
# Reading the content again to see the changes
with open('example.txt', 'r') as file:
    content = file.read()
    print("Updated file content:")
    print(content)

# Markdown Basics

#### Markdown is a lightweight markup language for creating formatted text using a plain-text editor. It is often used for writing documentation, notes, and readme files. Here are some basic elements of Markdown:

## Headers
#### You can create headers using the `#` symbol. The number of `#` symbols indicates the level of the header.

# This is an H1 header
## This is an H2 header
### This is an H3 header
#### This is an H4 header
##### This is an H5 header


# Emphasis
## You can add emphasis using `*` or `_` for italics and `**` or `__` for bold.

*This text is italicized*
_This text is also italicized_

**This text is bold**
__This text is also bold__

# Lists
## You can create ordered and unordered lists.

### Unordered List
- Item 1
- Item 2
- Item 3

### Ordered List
1. First item
2. Second item
3. Third item

# Links
## You can add links using the following syntax:
[Rome Business School](http://romebusinessschool.com/)

# Images
## You can add images using the following syntax:
![Alt text](https://via.placeholder.com/150)

# Lists, Tuples, and Dictionaries in Python

## Lists
Lists in Python are mutable, ordered sequences of elements. They can contain elements of different data types. Lists are implemented as dynamic arrays in Python.

In [ ]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print("List of fruits:", fruits)
fruits

List of fruits: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [ ]:
# Accessing elements
print("First fruit:", fruits[0:2])
len(fruits)

First fruit: ['apple', 'banana']

3

In [ ]:
# Adding an element
mixed_list = [1, "apple", 3.14, True]

fruits.append(mixed_list)
print("After adding an element:", fruits)

After adding an element: ['apple', 'banana', 'cherry', [1, 'apple', 3.14, True]]

In [ ]:
# Removing an element
fruits.remove(mixed_list)
print("After removing an element:", fruits)

After removing an element: ['apple', 'banana', 'cherry']

In [ ]:
for i in range(15):
  fruits.append(i)

In [ ]:
fruits

['apple', 'banana', 'cherry', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
fruits[1:17:3]

['banana', 1, 4, 7, 10, 13]

In [ ]:
my_list = []
for i in range(26):
  my_list.append(i)

my_list[0:26:5]

[0, 5, 10, 15, 20, 25]

In [ ]:
# Slicing a list

print("Sliced list (first two elements):", fruits[:2])
fruits

Sliced list (first two elements): ['apple', 'banana']

['apple', 'banana', 'cherry']

In [ ]:
# List of mixed data types
mixed_list = [1, "apple", 3.14, True]
print("Mixed list:", mixed_list)

In [ ]:
# Nested lists
nested_list = [[1, 2, 3], ["a", "b", "c"], [True, False]]
print("Nested list:", nested_list)

In [ ]:
my_list[0]= "pippo"
my_list

['pippo',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

### Lists
 - Mutable: Lists can be modified after creation (e.g., adding, removing, or changing elements).
 - Ordered: Elements in a list have a defined order, and you can access elements by their index.
 - Underlying Implementation: Lists are implemented as dynamic arrays, meaning they can grow or shrink in size as needed.

# Tuples
Tuples in Python are immutable, ordered sequences of elements. They are similar to lists but cannot be modified after creation. Tuples are implemented as arrays with fixed size.

In [ ]:
# Creating a tuple
colors = ("red", "green", "blue")
print("Tuple of colors:", colors)
colors

Tuple of colors: ('red', 'green', 'blue')

('red', 'green', 'blue')

In [ ]:
# Accessing elements
print("First color:", colors[0])

First color: red

In [ ]:
# Tuples are immutable; trying to modify them will raise an error
colors[0] = "yellow"  # Uncommenting this line will raise a TypeError

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Slicing a tuple
print("Sliced tuple (first two elements):", colors[:2])

In [ ]:
# Tuple of mixed data types
mixed_tuple = (1, "apple", 3.14, True)
print("Mixed tuple:", mixed_tuple)

In [ ]:
# Nested tuples
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))
print("Nested tuple:", nested_tuple)

numbers, letters, booleans = nested_tuple
print(numbers, letters, booleans)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))
(1, 2, 3) ('a', 'b', 'c') (True, False)

In [ ]:
# Tuple unpacking
a, b, c = (1, 2, 3)
print("Unpacked values:", a, b, c)

In [ ]:
list_1 = []
for i in range(20):
  list_1.append(i)
tuple_1 = tuple(list_1)

In [ ]:
tuple_1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

#### How can we modify a tuple?
Concatenating Tuples

In [ ]:
# Original tuple
original_tuple = (1, 2, 3)
print("Original tuple:", original_tuple)

# New tuple with elements to add
new_elements = (4, 5)

# Concatenate the tuples to create a new tuple
new_tuple = original_tuple + new_elements
print("New tuple:", new_tuple)

Original tuple: (1, 2, 3)
New tuple: (1, 2, 3, 4, 5)

In [ ]:
original_tuple2 = (0, 1)
print("Original tuple:", original_tuple2)
print(type(original_tuple2))

for i in range(2,10):
  print(i)
  original_tuple2 = original_tuple2 + (i, )

original_tuple2

Original tuple: (0, 1)
<class 'tuple'>
2
3
4
5
6
7
8
9

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

Converting to a List, Modifying, and Converting Back to a Tuple

In [ ]:
# Original tuple
original_tuple = (1, 2, 3)
print("Original tuple:", original_tuple)

# Convert tuple to list
temp_list = list(original_tuple)

# Add elements to the list
temp_list.append(4)
temp_list.append(5)

# Convert list back to tuple
new_tuple = tuple(temp_list)
print("New tuple:", new_tuple)

### Tuples
 - Immutable: Tuples cannot be modified after creation. This immutability makes them suitable for use as keys in dictionaries.
 - Ordered: Elements in a tuple have a defined order, and you can access elements by their index.
 - Underlying Implementation: Tuples are implemented as fixed-size arrays, providing faster access times compared to lists due to their immutability.

# Dictionaries
Dictionaries in Python are mutable, unordered collections of key-value pairs. They are implemented as hash tables. Keys must be immutable types (e.g., strings, numbers, tuples).

In [ ]:
# Creating a dictionary
person = {"name": "Alice", "age": 25, "city": "New York"}
print("Dictionary:", person)

Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
# Accessing values
print("age:", person["age"])

In [ ]:
book = {"title":"Harry Potter", "n. of pages": 300, "editor": "Salani"}
book["n. of pages"] = 350
book["author"]= "J.K. Rowling"
book

{'title': 'Harry Potter',
 'n. of pages': 350,
 'editor': 'Salani',
 'author': 'J.K. Rowling'}

In [ ]:
# Adding a new key-value pair
person["email"] = "alice@example.com"
print("After adding email:", person)

In [ ]:
# Removing a key-value pair
del person["age"]
print("After removing age:", person)
del book["editor"]
book

After removing age: {'name': 'Alice', 'city': 'New York'}

{'title': 'Harry Potter', 'n. of pages': 350, 'author': 'J.K. Rowling'}

In [ ]:
# Dictionary with mixed data types
mixed_dict = {"integer": 1, "float": 3.14, "string": "hello", "list": [1, 2, 3]}
print("Mixed dictionary:", mixed_dict)

Mixed dictionary: {'integer': 1, 'float': 3.14, 'string': 'hello', 'list': [1, 2, 3]}

In [ ]:
# Nested dictionaries
nested_dict = {
    "person1": {"name": "Alice", "age": 25},
    "person2": {"name": "Bob", "age": 30}
}
print("Nested dictionary:", nested_dict)

In [ ]:
# harry potter saga

harry_potter = {"harry1" : {"year of publication" : 1997, "n of pages":300},
                "harry2" : {"year of publication" : 1999, "n of pages":350},
                "harry3" : {"year of publication" : 1999, "n of pages":390},
                "harry4" : {"year of publication" : 2000, "n of pages":450},
                "harry5" : {"year of publication" : 2003, "n of pages":800},
                "harry6" : {"year of publication" : 2005, "n of pages":650},
                "harry7" : {"year of publication" : 2007, "n of pages":700},
}
harry_potter["harry7"]["n of pages"] + harry_potter["harry3"]["n of pages"]

1090

### Dictionaries
 - Mutable: Dictionaries can be modified by adding, removing, or changing key-value pairs.
 - Unordered: Dictionaries do not maintain the order of elements. Access to elements is based on keys, not indexes.
 - Underlying Implementation: Dictionaries are implemented as hash tables, providing fast access to values based on their keys.

Exercixes

In [ ]:
X = 23
x

# Python Exercises

## If, Else, Elif

1. **Basic If Statement**
   - Write a program that checks if a number is negative and prints "Negative".

2. **If-Else Statement**
   - Write a program that checks if a number is even or odd and prints the result.

3. **If-Elif-Else Statement**
   - Write a program that assigns a letter grade (A, B, C, D, or F) based on a numeric score. Starts by defining the range of the numeric score.

## For Loops

4. **Simple For Loop**
   - Write a program that prints the numbers from 1 to 10 using a for loop.

5. **For Loop with List**
   - Write a program that iterates through a list of fruits and prints each fruit.

6. **Sum of List Elements**
   - Write a program that calculates the sum of all elements in a list of numbers.

## While Loops

7. **Basic While Loop**
   - Write a program that prints the numbers from 1 to 5 using a while loop.

8. **While Loop with Condition**
   - Write a program that asks the user for input until they enter "stop".

9. **Sum of Digits**
   - Write a program that calculates the sum of the digits of a given number using a while loop.

## Dictionaries

10. **Create and Access Dictionary**
    - Write a program that creates a dictionary with keys "name", "age", and "city", and prints each value.

11. **Add and Remove Dictionary Items**
    - Write a program that adds a new key-value pair to a dictionary and then removes an existing key.

12. **Iterate Through Dictionary**
    - Write a program that iterates through a dictionary and prints each key-value pair. Note that you can fill the dictionary in the way you prefer.

## Tuples

13. **Basic Tuple Operations**
    - Write a program that creates a tuple of colors and prints the first color.

14. **Tuple Unpacking**
    - Write a program that unpacks a tuple of three elements into three variables and prints them.

15. **Nested Tuple Access**
    - Write a program that creates a nested tuple and prints an element from the nested tuple. Let the user choose which element.

## Lists

16. **Basic List Operations**
    - Write a program that creates a list of numbers, adds a number, and then removes a number.

17. **List Slicing**
    - Write a program that slices a list of numbers to get the first three elements and prints them.

18. **List Comprehension**
    - Write a program that creates a list of squares of numbers from 1 to 10.

## File Reading/Writing

19. **Write to a File**
    - Write a program that writes the string "Hello, world!" to a file named `hello.txt`.

20. **Read from a File**
    - Write a program that reads the content of `hello.txt` and prints it.

21. **Append to a File**
    - Write a program that appends the string "Rome is fun!" to `hello.txt` and then reads and prints the content.

## Combined Concepts

22. **Filter Even Numbers**
    - Write a program that filters even numbers from a list using a for loop and if statement, and stores them in a new list.

23. **Count Words in File**
    - Write a program that reads a text file and counts the number of words in the file.

24. **Dictionary of Squares**
    - Write a program that creates a dictionary where the keys are numbers from 1 to 10 and the values are their squares.